/* Mobile First */

@font-face {
    font-family: "Source Sans Pro Regular" ;
    src: url("../assets/fonts/SourceSans/SourceSansPro-Regular.ttf");
}

*{
margin:0;
padding:0;
box-sizing: border-box;
font-family: "Source Sans Pro Regular";
}

/*Header*/ 

.encabezado {
    background-image: url(../assets/img/Banner.png);
    background-color:rgba(255, 249, 240, 0);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   /* align-items: center;
    align-content: center;
    text-align: center;
    z-index: 10;*/
}

.contenedor_logo{
    width: 15%;
    padding: 5px auto;
}

.logo_encabezado{
    border-image: none;
    width: 70%;
    z-index: 5;
}
.navegador , ul, li {
    list-style: none;
    margin: 0; 
    padding: 0;
    display: inline-block;
    align-items: center;
}

.linkNav {
    color: rgb(255, 255, 255) !important ; 
    text-decoration:none ;
    font-size: 1.5em;
    font-weight: 600;
    border-radius: 5px
    /*padding: 10px;
    background-color: rgba(218, 116, 15, 0);*/
}

.linkNav:hover{
    color: #f15942a2 !important; 
    border-radius: 5px;
    background-color: #FFD060;
}

.Nav_pages{
    width: 100%;
    justify-content: space-evenly;
}

.ToggleColor{
    border-color: #FFD060;
}
/*Main de todas las páginas*/ 

.FondoPantalla {
    background-color: #FFD060 ;
}
.Principal{
    background-color: #FFD060 ;
}

/*Página principal*/

.título{
    padding: 10px;
    font-size: 2em;
    font-weight: 700;
    text-align: center;
}

/*Contenedor para imagen de inicio. */ 

.contenedorImagen {
    padding: 20px;
    border-radius: 2%;
    width: 100%;
    object-fit:contain;
    background-color: #f15942a2;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-items: center;
    display: inline-block;*/
}
    
.textoInicio{
    font-size: 1.5em;
}
    
/*Icóno con link a Whatsapp*/
.Whatsapp {
    width: 100px;
    height: 100px;
    position: fixed;
    right: 50px;
    bottom: 50px;
    background-color: #f15942a2 ;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-size: 0.8em;
}
.WhatsappFlotante {
    width: 50px;
    height: 50px;
    margin: 10px 0px auto;
    align-items: center;
}

/*Pie de Página*/ 

.PieDePagina{
    background-image: url(../assets/img/Banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-content: flex-end;
    }

.LogoFooter{
    border-image: none;
    margin: 0px auto;
    width: 7%;
   }

.redesSociales{
    font-size: 1em;    
    text-align: center;
    color: white;
}

.iconoRedes{
    font-size: 1.7rem;
    color: #FFD060;
    display: inline-block;
    }

/* ELEMENTOS DE PÁGINA "NOSOTROS" */ 

.Imágenes_Nosotros{
    width: 60%;
    margin: 20px;
    padding: 10px;
    border-radius: 2%;
    background-color: #f15942a2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.Texto_nosotros{
    grid-area: main2;
    font-size: 1.5em;
}

/* Elementos de Página "PRODUCTOS"*/ 
.tarjeta{
    /*width: 30%;
    height: 30%;
    margin: 10px;
    padding: 10px;*/
    border-radius: 2%;
    /*display: inline-block;
    vertical-align: top;*/
    background-color: #f15942c9;
   /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);*/
    align-items: center;
    text-align: center;
}

.imagenProducto{
    width: 100%;
}

/*Elementos de Página CLIENTES*/
.textoClientes{
    font-size: 2em;
    color: rgba(255, 255, 255, 0.985);
    text-shadow: 2px 1px 1px rgba(125,128,122,0.78);
    /*width: 50%; 
    height: fit-content;
    margin: 10px;*/
    text-align:left;
    align-content: center;
}

.cursiva{
    font-style: oblique;
}

/*Elementos de CONTACTO*/ 
.iconoRedesContacto{
    font-size: 1.7rem;
    color: #f15942 ;
    }