@charset "UTF-8";
/* Mobile First */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro Regular"; }

@font-face {
  font-family: "Source Sans Pro Regular";
  src: url("../assets/fonts/SourceSans/SourceSansPro-Regular.ttf"); }

/*Variables*/
/*
$color-claro: #FFD060;
$color-oscuro: #f15942a2; 
$color-intermedio: #f15942;
*/
/*
$fuente-pequena:0.8em;
$fuente-normal: 1em;
$fuente-grande: 1.5em;
$fuente-extragrande: 1.75em;
$fuente-muygrande: 2em;
*/
/*Header*/
.FondoPantallaMain {
  background-color: #FFD060; }
  .FondoPantallaMain .encabezado {
    background-image: url(../assets/img/Banner.png);
    background-color: rgba(255, 249, 240, 0);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    .FondoPantallaMain .encabezado .navbar .container-fluid .contenedor_logo {
      width: 20%;
      padding: 5px auto; }
      .FondoPantallaMain .encabezado .navbar .container-fluid .contenedor_logo .logo_encabezado {
        border-image: none;
        width: 100%;
        z-index: 5; }
    .FondoPantallaMain .encabezado .navbar .container-fluid .collapse .Nav_pages {
      width: 100%;
      justify-content: space-evenly; }
      .FondoPantallaMain .encabezado .navbar .container-fluid .collapse .Nav_pages .nav-item .linkNav {
        color: white !important;
        text-decoration: none;
        font-size: 1.5em;
        font-weight: 600;
        border-radius: 5px;
        align-items: center;
        justify-items: center; }
        .FondoPantallaMain .encabezado .navbar .container-fluid .collapse .Nav_pages .nav-item .linkNav:hover {
          color: #f15942a2 !important;
          border-radius: 5px;
          background-color: #FFD060; }

@media screen and (min-width: 769px) {
  .FondoPantallaMain .encabezado {
    position: sticky;
    top: 0px;
    z-index: 5; }
    .FondoPantallaMain .encabezado .navbar .container-fluid .contenedor_logo {
      width: 10%;
      padding: 5px auto; }
    .FondoPantallaMain .encabezado .navbar .container-fluid .collapse .Nav_pages .nav-item .linkNav {
      font-size: 1.75em;
      font-weight: 600; } }

/*Página principal*/
.FondoPantallaMain {
  background-color: #FFD060; }
  .FondoPantallaMain .container .row .título_main {
    padding: 10px auto;
    font-size: 1.5em;
    font-weight: 700;
    text-align: center; }
  .FondoPantallaMain .container .row .col-md-6 .carousel .contenedorImagen {
    padding: 10px;
    border-radius: 2%;
    width: 100%;
    object-fit: contain;
    background-color: #f15942a2;
    justify-content: center; }
  .FondoPantallaMain .container .row .textoInicio {
    font-size: 1.5em;
    text-align: center; }

@media screen and (min-width: 769px) {
  .FondoPantallaMain .container .row .título_main {
    font-size: 2em;
    text-align: center;
    margin: 0px auto; }
  .FondoPantallaMain .container .row .textoInicio {
    text-align: justify;
    font-size: 1.2em; } }

/* ELEMENTOS DE PÁGINA "NOSOTROS" */
.FondoPantallaMain .container .row .título_nosotros {
  padding: 10px auto;
  font-size: 1.5em;
  font-weight: 700;
  text-align: center; }

.FondoPantallaMain .container .row .col-md-6 .Imágenes_Nosotros_Logo {
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 2%;
  background-color: #f15942a2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.FondoPantallaMain .container .row .Texto_nosotros {
  font-size: 1.2em;
  text-align: center;
  width: 90%;
  margin: 0 auto; }

.FondoPantallaMain .container .row .col-md-6 .Imágenes_Nosotros {
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 2%;
  background-color: #f15942a2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.FondoPantallaMain .container .row .col-md-3 .Imágenes_Nosotros {
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 2%;
  background-color: #f15942a2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.FondoPantallaMain .container .row .col-md-3 .Imágenes_Nosotros {
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 2%;
  background-color: #f15942a2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

@media screen and (min-width: 769px) {
  .FondoPantallaMain .container .row .título_nosotros {
    font-size: 2em;
    text-align: center;
    margin: 0px auto; }
  .FondoPantallaMain .container .row .col-md-6 .Imágenes_Nosotros_Logo {
    width: 80%;
    align-items: center;
    margin: 20px; }
  .FondoPantallaMain .container .row .Texto_nosotros {
    text-align: justify;
    width: 50%;
    padding: 15px;
    font-size: 1.2em; }
  .FondoPantallaMain .container .row .col-md-6 .Imágenes_Nosotros {
    width: auto;
    height: 50vh; }
  .FondoPantallaMain .container .row .col-md-3 .Imágenes_Nosotros {
    width: auto;
    height: 50vh; }
  .FondoPantallaMain .container .row .col-md-3 .Imágenes_Nosotros {
    width: auto;
    height: 50vh; } }

/*
.Imágenes_Nosotros{
    width: 75%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 2%;
    background-color: map-get($colores, oscuro);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.Imágenes_Nosotros_Logo{
    width: 75%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 2%;
    background-color: map-get($colores, oscuro);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.Texto_nosotros{
    font-size:map-get($tamañofuente, grande );
    text-align:center;
    padding: 15px;
}

.nosotros_prueba {
    font-size: large;
}
*/
/* Elementos de Página "PRODUCTOS"*/
.FondoPantallaMain .container .row .título_principal {
  padding: 10px auto;
  font-size: 1.5em;
  font-weight: 700;
  text-align: center; }

.FondoPantallaMain .container .row .col-md-4 .tarjeta {
  width: 90%;
  height: auto;
  border-radius: 2%;
  background-color: #f15942a2;
  align-items: center;
  justify-content: center;
  text-align: center; }
  .FondoPantallaMain .container .row .col-md-4 .tarjeta .título_producto {
    color: #fefefe;
    font-size: 1.2em;
    font-weight: 600;
    margin: 5px auto; }
  .FondoPantallaMain .container .row .col-md-4 .tarjeta .imagenProducto {
    width: 90%; }
  .FondoPantallaMain .container .row .col-md-4 .tarjeta .parrafoproducto .botón_producto {
    color: #323232;
    background-color: #FFD060;
    border-color: rgba(91, 91, 91, 0.696);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
  .FondoPantallaMain .container .row .col-md-4 .tarjeta .collapse .texto_producto {
    font-size: 1em;
    width: 90%;
    margin: 5px auto;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.566); }

@media screen and (min-width: 769px) {
  .FondoPantallaMain .container .row .título_principal {
    font-size: 2em; }
  .FondoPantallaMain .container .row .col-md-4 .tarjeta .título_producto {
    font-size: 1.5em; } }

/*Elementos de Página CLIENTES*/
.FondoPantallaMain .container .título_clientes {
  padding: 10px auto;
  font-size: 1.5em;
  font-weight: 700;
  text-align: center; }

.FondoPantallaMain .container .sectionclientes .bordeFila {
  border: #fff1d1;
  border-radius: 2%;
  border-style: dotted; }
  .FondoPantallaMain .container .sectionclientes .bordeFila .col-md-6 .contenedorClientes {
    width: 90%;
    padding: 10px;
    border-radius: 2%;
    object-fit: contain;
    background-color: #f15942a2;
    justify-content: center; }
  .FondoPantallaMain .container .sectionclientes .bordeFila .textoClientes {
    font-size: 1em;
    color: white;
    text-shadow: 2px 1px 1px rgba(125, 128, 122, 0.78);
    text-align: center;
    align-content: center; }
    .FondoPantallaMain .container .sectionclientes .bordeFila .textoClientes .título_cliente {
      color: #fefefe;
      font-size: 1.2em;
      font-weight: 600;
      margin: 5px auto; }
    .FondoPantallaMain .container .sectionclientes .bordeFila .textoClientes .cursiva {
      font-style: oblique; }

@media screen and (min-width: 769px) {
  .FondoPantallaMain .container .título_clientes {
    font-size: 2em;
    margin: 10px; }
  .FondoPantallaMain .container .sectionclientes .bordeFila {
    border: #fff1d1;
    border-radius: 2%;
    border-style: dotted; }
    .FondoPantallaMain .container .sectionclientes .bordeFila .col-md-6 .contenedorClientes {
      width: auto;
      height: 50vh; }
    .FondoPantallaMain .container .sectionclientes .bordeFila .textoClientes {
      font-size: 1.5em;
      color: white;
      text-shadow: 2px 1px 1px rgba(125, 128, 122, 0.78);
      text-align: left;
      padding: 10px auto; }
      .FondoPantallaMain .container .sectionclientes .bordeFila .textoClientes .título_cliente {
        color: #fefefe;
        font-size: 1.5em;
        font-weight: 600;
        margin: 5px auto; }
      .FondoPantallaMain .container .sectionclientes .bordeFila .textoClientes .cursiva {
        font-style: oblique; }
  .FondoPantallaMain .container .sectionclientes .ClientePar {
    flex-direction: row-reverse; } }

/*Elementos de CONTACTO*/
.FondoPantallaMain .container .títuloContacto {
  padding: 10px auto;
  font-size: 1.5em;
  font-weight: 700;
  text-align: center; }

.FondoPantallaMain .container .section_contacto .d-flex .link_contacto {
  text-decoration: none !important; }
  .FondoPantallaMain .container .section_contacto .d-flex .link_contacto .iconoRedesContacto {
    font-size: 2em;
    color: #f15942;
    display: inline-block;
    margin: 5px; }

.FondoPantallaMain .container .section_contacto .d-flex .textoRedesContacto {
  text-decoration: none !important;
  font-size: 1.5em;
  color: #323232;
  margin: 5px; }

.FondoPantallaMain .container .section_contacto .row .link_contacto .iconoRedesContacto {
  text-decoration: none !important;
  font-size: 1.75em;
  color: #f15942; }

.FondoPantallaMain .container .section_contacto .row .textoRedesContacto {
  text-decoration: none !important;
  font-size: 1.75em; }

.FondoPantallaMain .container .section_contacto .m-2 .formulario {
  border-color: #f15942a2;
  border-style: dotted; }
  .FondoPantallaMain .container .section_contacto .m-2 .formulario .col-md-6 .etiqueta_campo {
    font-size: 1em;
    font-weight: 600;
    margin-left: 5px; }
  .FondoPantallaMain .container .section_contacto .m-2 .formulario .col-md-6 .campo {
    margin: 0px 5px; }
  .FondoPantallaMain .container .section_contacto .m-2 .formulario .col-12 .etiqueta_campo {
    font-size: 1em;
    font-weight: 600;
    margin-left: 5px; }
  .FondoPantallaMain .container .section_contacto .m-2 .formulario .col-12 .campo {
    margin: 0px 5px; }
  .FondoPantallaMain .container .section_contacto .m-2 .formulario .col-12 .botón_contacto {
    background-color: #f15942a2;
    color: white; }

@media screen and (min-width: 769px) {
  .FondoPantallaMain .container .row .título_Contacto {
    font-size: 2em;
    text-align: center;
    margin: 0px auto; } }

/*
            .row{
                .col-md-6{
                    .Imágenes_Nosotros_Logo{
                        width: 80%;
                        align-items: center;
                        margin: 20px ;
                    }
                }
                .Texto_nosotros{
                    text-align:justify;
                    width: 50%;
                    padding: 15px;
                    font-size: map-get($tamañofuente, casigrande);
                }
            }
    
            .row{
                .col-md-6{
                    .Imágenes_Nosotros{
                        width: auto;
                        height: 50vh;
                    }
                }
                .col-md-3{
                    .Imágenes_Nosotros{
                        width: auto;
                        height: 50vh;
                    }
                }
                .col-md-3{
                    .Imágenes_Nosotros{
                        width: auto;
                        height: 50vh;
                    }
                }
            }
        }
    }   
}
*/
.FondoPantallaMain .container .row .col-md-6 .Imágen_error {
  width: 75%;
  margin: 20px auto;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #f15942; }

.FondoPantallaMain .container .row .Texto_error {
  font-size: 1.5em;
  margin: 20px auto;
  align-items: center;
  justify-content: center;
  align-self: center; }

/*Icóno con link a Whatsapp*/
.container .Whatsapp {
  width: 100px;
  height: 100px;
  position: fixed;
  right: 20px;
  bottom: 50px;
  background-color: #f15942a2;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-size: 0.8em;
  z-index: 10; }
  .container .Whatsapp .WhatsappFlotante {
    width: 50px;
    height: 50px;
    margin: 10px 0px auto;
    align-items: center; }

/*Pie de Página*/
.PieDePagina {
  background-image: url(../assets/img/Banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-content: flex-end; }
  .PieDePagina .LogoFooter {
    border-image: none;
    margin: 0px auto;
    width: 15%; }
  .PieDePagina .redesSociales {
    font-size: 0.8em;
    text-align: center;
    color: white; }
    .PieDePagina .redesSociales .col-sm-12 .ancla {
      text-decoration: none;
      margin: 5px; }
    .PieDePagina .redesSociales .col-sm-12 .iconoRedes {
      text-decoration: none !important;
      font-size: 1em;
      color: #FFD060;
      display: inline-block; }

@media screen and (min-width: 769px) {
  .PieDePagina .LogoFooter {
    border-image: none;
    margin: 0px auto;
    width: 7.5%; }
  .PieDePagina .redesSociales {
    font-size: 1em; }
    .PieDePagina .redesSociales .col-sm-12 .ancla {
      text-decoration: none;
      margin: 5px; }
    .PieDePagina .redesSociales .col-sm-12 .iconoRedes {
      text-decoration: none !important;
      font-size: 1.5em;
      color: #FFD060;
      display: inline-block; } }
