/*Elementos de CONTACTO*/ 

.FondoPantallaMain{ 
    .container{
        .títuloContacto{
            padding: 10px auto;
            font-size: map-get($tamañofuente, grande);
            font-weight: 700;
            text-align: center;
        }
        .section_contacto{
            .parrafo_contacto{
            }
            
            .d-flex{
                .link_contacto{
                    text-decoration: none !important;
                    .iconoRedesContacto{
                            font-size: map-get($tamañofuente, muygrande);
                            color: map-get($colores, intermedio);
                            display: inline-block;
                            margin: 5px;
                    }
                }
                
                .textoRedesContacto{
                    text-decoration: none !important;
                    font-size: map-get($tamañofuente, grande);
                    color: $fuente-oscura;
                    margin: 5px;
                }
            }
        

            .row{
                .link_contacto {
                                        
                    .iconoRedesContacto{
                        text-decoration: none !important;
                        font-size: map-get($tamañofuente, extragrande);
                        color: map-get($colores, intermedio); 
                    }
                }
                .textoRedesContacto{
                    text-decoration: none !important;
                    font-size: map-get($tamañofuente, extragrande);

                }
            }

        }

        .section_contacto{ 
            .parrafo_contacto{

            }
            .m-2{ 
                .formulario{
                    border-color: map-get($colores, oscuro);
                    border-style: dotted;
                    .col-md-6{ 
                            .etiqueta_campo{
                                font-size: map-get($tamañofuente, normal);
                                font-weight: 600;
                                margin-left: 5px;
                            }
                            .campo{
                               margin: 0px 5px;
                            }
        
                    }
                    .col-12{
                        .etiqueta_campo{
                            font-size: map-get($tamañofuente, normal);
                            font-weight: 600;
                            margin-left: 5px;
                        }
                        .campo{
                           margin: 0px 5px;
                        }
                    }
                    .col-12{
                        .botón_contacto{
                            background-color: map-get($colores, oscuro);
                            color: $fuente_clara;
                        }
                    }
                }
            }
        }

        .d-flex{
            .mapa{
                @include fondo(map-get($colores, oscuro), 100%);
                padding: 10px 10px;
                margin: 10px auto;
                display: flex;
                justify-content: center;
            }
        }
    }
}


@media screen and (min-width:769px){
    .FondoPantallaMain {
        .container{
        
            .títuloContacto{
                font-size: map-get($tamañofuente, muygrande);
                margin: 10px;
            }

            .section_contacto{
                .parrafo_contacto{
                    font-size: map-get($tamañofuente, grande);
                    margin: 30px auto;
                }
                
                .d-flex{
                    .link_contacto{
                        
                        .iconoRedesContacto{
                                
                        }
                    }
                    
                    .textoRedesContacto{
                        
                    }
                }
            
    
                .row{
                    .link_contacto {
                                            
                        .iconoRedesContacto{
                             
                        }
                    }
                    .textoRedesContacto{
                            
                    }
        
                }

            }

        }
    }

}
