/*Página de ERROR*/ 

.FondoPantallaMain{
    .container{
        .row {
            .col-md-6{
                .Imágen_error{
                    width: 75%;
                    margin: 20px auto;
                    padding: 10px;
                    border-radius:50%;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                    background-color: map-get($colores, intermedio);
                }
                
            }
            .Texto_error{
                font-size: map-get($tamañofuente, grande );
                width: 90%;
                margin: 20px auto;
                text-align: center;
                align-items: center;
                justify-content: center;
                
            }
        }

    }
}

@media screen and (min-width:769px) {
    .FondoPantallaMain{
        .container{
            .row {
                .col-md-6{
                    .Imágen_error{
                    }
                }
                .Texto_error{
                    font-size: map-get($tamañofuente, grande );
                    width: 50%;
                    margin: 150px auto;
                    text-align: justify;
                    align-items: center;
                    
                }
            }
    
        }
    }




}