/*Main de todas las páginas*/ 

.FondoPantalla {
    background-color: map-get($colores, claro) ;
}

/*Página principal*/

.título{
    padding: 10px;
    font-size: map-get($tamañofuente, grande);
    font-weight: 700;
    text-align: center;
}

/*Contenedor para imagenes y carrousel */ 

.contenedorImagen {
    padding: 10px;
    border-radius: 2%;
    width: 100%;
    object-fit:contain;
    background-color: map-get($colores, oscuro);
    justify-content: center;
}
    
.textoInicio{
    font-size: map-get($tamañofuente, grande );
    text-align: center;
}