/* Elementos de Página "PRODUCTOS"*/ 

.FondoPantallaMain{
    .container{
        .row{
            .título_principal{
                @extend .título_main;
            }
        }
        .row{
            .col-md-4{
                .tarjeta{
                    @include fondo(map-get($colores, oscuro), 90%);
                    height: auto;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                                        
                    .título_producto{
                        color: rgb(254, 254, 254);
                        font-size: map-get($tamañofuente, casigrande);
                        font-weight: 600;
                        margin: 5px auto;
                        text-shadow:0 0 10px rgba(0, 0, 0, 0.5);
                    }
                    
                    .contenedorProducto{
                        width: 320px;
                        height: 250px;
                        overflow: hidden;
                        margin: 10px auto;
                        .imagenProducto{
                            width: 320px;
                            height: 250px;
                            object-fit: cover;
                            transition: 1.5s;
                            &:hover{
                            transform: scale(1.5);
                            }  
                        }
                    }

                    .parrafoproducto{
                        .botón_producto{
                            color: $fuente-clara;
                            font-weight: 600;
                            text-shadow:0 0 10px rgba(0, 0, 0, 0.5);
                            border-color: none;
                            transition: 0.5s;
                            &:hover{
                                transform: scale(1.1);
                            }
                            
                        }
                    }
                    .collapse{
                        .texto_producto{
                            font-size: map-get($tamañofuente, normal); 
                            width: 90%; 
                            margin: 5px auto;
                            padding: 10px;
                            background-color: rgba(255, 255, 255, 0.566);
                            text-align: justify;

                        }
                        .botón_comprar{
                            color: $fuente-oscura;
                            font-weight: 600;
                            padding: 5px;
                            background-color: map-get($colores,claro);
                            border-color: none;
                            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                            border-radius: 5px;
                            transition: all 1s;
                            &:hover{
                                font-size: 1.25rem;
                                color: map-get($colores, oscuro);
                            }

                        }
                    }
                }
            }
        }
    }

}

@media screen and (min-width:769px) { 
    .FondoPantallaMain{
        .container{
            .row{
                .título_principal{
                    font-size: map-get($tamañofuente, muygrande);
                    margin: 10px, auto;
                }
            }
            .row{
                .col-md-4{
                    .tarjeta{
                        .título_producto{
                            font-size: map-get($tamañofuente, grande);
                        }
                        .imagenProducto{ 
                        }
                        .p{
                            .botón_producto{
                            }
                        }
                        .collapse{
                            .texto_producto{
                            }
                            .botón_comprar{
                            }
                        }
                    }
                }
            }
        }
    
    }
}

