/*Variables*/ 

$fuente-clara: rgb(255, 255, 255);
$fuente-oscura: rgb(50, 50, 50);

/*Mapas*/

$colores: (
    claro: #FFD060,
    intermedio:#f15942,
    oscuro:#f15942a2
);

$tamañofuente: (
    pequena:0.8em, 
    normal: 1em,
    casigrande: 1.2em,
    grande: 1.5em,
    extragrande: 1.75em,
    muygrande: 2em,
);
